.cards{
    display: grid;
    width: 920px;
    list-style: none;
    grid-column-gap: 100px;
    grid-row-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0;
    padding: 0;
  }
