.kaufman__triangle{
    background-image: url(../../../images/kaufman-triangle.svg);
    width: 877px;
    height: 877px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -210px;
    top:0;
    z-index: -1;
  }