.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display:flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.logo{
  width: 228px;
  height: 32px;
}

.logo_place_header{
  background-image: url("../images/logo_place_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  max-width: 730px;
  margin-left: 64px;
  color: #000000;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;
  line-height: 96px;

}

.header__subtitles{
  max-width: 388px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic{
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  z-index: 0;
}


.header__main-illustration{
  object-position: top;
  object-fit: cover;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.description{
  margin-top: 100px;
}

.two-columns{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  max-width: 175px;
  margin: 0;

}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  flex-direction: column;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px auto;
  margin-top: 0;
}

two-columns__paragraph:last-child{
  margin-bottom: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits{
  margin-top: 100px;
}

.digits__section_title{
  margin: 0 auto 0 auto;
  text-align: center;
  width: 60%;
  color: #000000;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__section_subtitle{
  margin: 20px auto 0 auto;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_digits{
  display: flex;
  max-width: 1100px;
  flex-flow: wrap;
  margin: auto;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
  margin-left: 60px;
  list-style: none;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text{
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feyman{
  margin-top: 100px;
  background: url(../images/feynman.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  position: relative;
  min-height: 890px;
}


.feyman__title{
  max-width: 648px;
  vertical-align: center;
  color:#000000;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.feyman__subtitle{
  color: #000000;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 auto;
  text-align: center;
}

.feyman_link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman{
  background-color: #000000;
  padding: 90px 0 90px;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark{
  max-width: 60%;
  display: flex;
  color:#f2f2f2;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  margin-bottom: 0;
  justify-content: center;
  z-index: 1;
}

.section-subtitle_theme_dark{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
  color:#f2f2f2;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.table__theme_dark{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color:#f2f2f2;
  z-index: 1;
}

.table__cell_theme_dark{
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark{
  color:#f2f2f2;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
}

.table__text_theme_dark{ 
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
  z-index: 1;
}

.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  overflow: hidden;
  width: 877px;
  height: 877px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -210px;
  top:0;
  z-index: 0;
}

.footer{
  box-sizing: border-box;
  min-height: 350px;
  background-color: #000000;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  z-index: 0;
}


.footer__columns{
  color: #f2f2f2;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin:auto;
}

.footer__columns_content_copyright{
  display: flex;
  flex-basis: 711px;

}

.logo_place_footer{
  background-image: url("../images/logo_place_footer.svg");
  position: relative;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
}

.footer__author{
  left: 0;
  bottom: 0;
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 18px 0 18px 64px;
}

.footer__column-heading{
  top: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #f2f2f2;
  margin: 30px 150px auto auto;
}

.footer__column-links{
  list-style-type: none;
  margin: 0;
}

ul{
  list-style-type: none;
}

.footer__column-link{
  text-decoration: none;
  margin-top: 20px;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-icon{
  padding-right: 10px;
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 10px;
}





