.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display:flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.logo{
  width: 228px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.logo_place_header{
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  max-width: 730px;
  margin: 0 0 0 64px;
  color: #000000;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  line-height: 96px;

}

.header__subtitle{
  max-width: 388px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic{
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  z-index: 0;
}


.header__main-illustration{
  width: 765px;
  height: 608px;
  object-position: top;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.description{
  margin-top: 100px;
}

.two-columns{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  max-width: 175px;
  margin: 0;

}

.two-columns__main-text{
  display: flex;
  min-width: 784px;
  width: 80%;
  flex-direction: column;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 30px auto;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}


.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits{
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
}

.section-title{
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 60%;
  color: #000000;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle{
  margin: 0;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  display: flex;
  width: 1100px;
  flex-flow: wrap;
  margin: 0 auto 0 auto;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
  /*тут по комментарию прошлого ревью не совсем понятно,т.к. по брифу я вижу что перед блоками и заголовками есть расстояние 60px
*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text{
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  padding-top: 100px;
  background: url(../images/feynman.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  box-sizing: border-box;
  position: relative;
  min-height: 890px;
}


.feynman__title{
  max-width: 648px;
  vertical-align: center;
  color:#000000;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.feynman__subtitle{
  color: #000000;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 auto;
  text-align: center;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right:48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none; 
}

.kaufman{
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 90px 0;
  z-index: 1;
  margin: 0;
}

.table_theme_dark{
  flex-wrap: wrap;
  color:#f2f2f2; 
  z-index: 2; 
}

.section-title_theme_dark{
  color:#f2f2f2;
}

.section-subtitle_theme_dark{
  color:#f2f2f2;
}

.table__cell_theme_dark{
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark{
  color:#f2f2f2;
}

.table__text_theme_dark{ 
  color: #f2f2f2;
}

.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -210px;
  top:0;
  z-index: -1;
}


.footer{
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
}


.footer__columns{
  color: #f2f2f2;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}

.footer__column_content_copyright{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.logo_place_footer{
  background-image: url("../images/logo_place_footer.svg");

}

.footer__author{
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px 0;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #f2f2f2;
  margin: 0;
}

.footer__column-links{
  list-style-type: none;
  margin: 0;
  padding: 20px 0 16px 0;
}


.footer__column-link{
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}





